modules = ["dotnet", "dotnet-7.0"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "TaskItServer"

[[workflows.workflow]]
name = "TaskItServer"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd TaskIt && dotnet run"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "cd TaskIt && dotnet run"]

[[ports]]
localPort = 5000
externalPort = 80
